<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629736295793-m60dadpjnli4tam7sdan9gi6cdu17bpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629736295793-m60dadpjnli4tam7sdan9gi6cdu17bpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629736295793-51mf8ocdnif37aq99ead7cbgvbg9ku2l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKcAzNYDEmd-xJJE5Oz7tJie-4TFam49g</string>
	<key>GCM_SENDER_ID</key>
	<string>629736295793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zr</string>
	<key>PROJECT_ID</key>
	<string>zr-app-ccdc3</string>
	<key>STORAGE_BUCKET</key>
	<string>zr-app-ccdc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629736295793:ios:8b4b83e3f75952c0633ad0</string>
</dict>
</plist>